h1 {
    font-family: 'Fjalla One', sans-serif;
}
div{
    font-family: 'Lato', sans-serif;
}

body {
    /* background-image: url("../images/fireHydrant.jpeg") */
}

#wins{
    color: green;
}
#losses{
    color: red;
}

.wordContainers{
    font-size: 1.2rem;
}

/* div {
    border: 2px solid green;
} */
